body {
	background-color: #000000;
	color: white;
}
.App-main {
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: center;
}
.margin {
	margin-bottom: 80px;
}
.container {
	background-color: #000000;
	padding: 25px;
	display: grid;
	gap: 15px;
	text-align: center;
	margin: 30px auto;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}
.movie-cover {
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: 0.5s;
}

.movie-placeholder {
	background-color: #fff;
	color: rgb(70, 68, 68);
	min-height: 358px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.icons {
	font-size: 50px;
}
.hero {
	height: 700px;
	margin: 20px auto 0;
	position: relative;
	background-position: center top;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	border-radius: 30px;
}

.hero h1 {
	font-size: 30px;
	margin: 0;
	color: rgb(255, 255, 255);
}
.hero p {
	color: rgb(255, 255, 255);
}
.button {
	background: linear-gradient(
		to right,
		rgb(64, 0, 179) 0%,
		rgb(66, 0, 128) 100%
	);
	color: white;
	border: none;
	width: 45%;
	max-width: 170px;
	min-width: 120px;
	height: 50px;
	padding: 13px 30px;
	border-radius: 7px;
	cursor: pointer;
	font-size:10px;
	margin: 20px 5px;
	font-family: cursive;
	transition: 0.1s;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.button:active {
	transform: scale(0.99);
}

.hero-content {
	margin: 0 50px;

	column-gap: 10px;
	width: 100%;
	padding-bottom: 50px;
}

.youtube_container {
	position: absolute;
	border-radius: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9;
}
.button__close {
	position: absolute;
	z-index: 10;
	top: 10px;
	right: 10px;
	font-size: 15px;
	background-color: #090a0e;
	color: white;
	border: 1px solid white;
	padding: 10px 16px;
	border-radius: 50%;
	cursor: pointer;
	font-family: cursive;
}

.header-content {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}
.header-content input {
	padding: 14px 30px 12px 40px;
	width: 400px;
	margin-right: -100px;
	font-size: 12px;
	background-color: #000000;
	border: 1px solid rgb(63, 63, 63);
	outline: none;
	color: white;
	border-radius: 15px;
	font-size: 1.1rem;
	font-family: cursive;
}
.header-content input:focus {
	outline: none;
}
.header-content button {
	padding: 10px;
	width: 100px;
	color: white;
	font-size: 12px;
	background: linear-gradient(
		to right,
		rgb(63, 0, 179) 0%,
		rgb(66, 0, 128) 100%
	);
	transform: translateX(-5px);
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	font-family: cursive;
	transition: 0.2s;
}

.header-content button:active {
	transform: scale(0.99);
}
.header-content h1 {
	font-size: 35px;
	letter-spacing: 2px;
	font-family: cursive;
}
.header-content h1 > span {
	color: rgb(63, 0, 158);
}
.input-icon {
	color: grey;
	font-size: 15px;
	transform: translate(28px, 0);
}
.image-container {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.movie-card {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
.movie-card img {
	transition: 0.5s;
}
.movie-card img:hover {
	transform: scale(1.13);
}
.nomovie {
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	text-align: center;
}
.nomovie h2 {
	color: transparent;
	background-clip: text;
	background: linear-gradient(
		to right,
		rgb(6, 100, 203) 0%,
		rgb(53, 0, 78) 70%
	);
	text-shadow: 2px 2px 20px rgb(60, 0, 128);
	font-size: 25px;
	margin-top: 30px;
	font-family: cursive;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}
.nomovie .icons {
	margin-top: 30px;
}
.message {
	font-family: cursive;
	text-align: center;
	margin: 100px auto;
	margin-bottom: 70vh;
	background: linear-gradient(
		to right,
		rgb(100, 0, 200) 0%,
		rgb(78, 7, 200) 50%
	);
	text-shadow: 2px 2px 40px rgb(40, 47, 200);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: x-large;
}

.main {
	width: 90%;
}
.Play .icon {
	font-size: 140px;
	color: rgb(60, 11, 200);
}
.poster{
	width:100% ;
	height: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 3fr 4fr;
	top	: 0;
	left: 0;
	border-radius: 20px;
	padding: 30px;
	backdrop-filter: blur(5px);

}
.poster img{
	width: 70%;
	height: 80%;
	min-width: 200px;
	max-width: 350px;
	border-radius: 20px;
	margin: auto;
	object-fit: cover;
}

.poster-desc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}
.poster-desc p{
	line-height: 3;
	margin: 5px 0;
}
.genre-btns, .play-btns{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.genre-btns  button{
	background-color: rgb(255, 255, 255, 0.2);
	border: none;
	cursor: pointer;
	width: 20%;
	height: 35px;
	border-radius: 5px;
	margin: 5px;
	color: #fff;
}

@media only screen and (max-width: 1600px) {
	.container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.hero {
		height: 550px;
	}
}
@media only screen and (max-width: 1200px) {
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.poster-desc p{
		line-height: 2;
	}
}
@media only screen and (max-width: 900px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 0;
	}
	.movie-card {
		min-width: none;
	}
	.hero {
		height: 500px;
	}

	.header-content h1,
	.overview {
		display: none;
	}
	.header-content {
		justify-content: center;
	}
	.header-content input {
		width: 380px;
	}
	.hero-content , .poster{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.hero .button {
		width: 150px;
		height: 45px;
		font-size: 10px;
		padding: 0;
		justify-content: flex-start;
		padding-left: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0;
		padding: 10px 0 0 0;
	}
	
	.movie-card {
		width: 70%;
		min-width: 165px;
		margin: 0 auto 30px;
	}
	.hero-content{
		padding: 0;
	}

	.hero {
		width: 350px;
		height: 350px;
		margin: 0;
		border-radius: 5px;
	}
	.icons {
		font-size: 0px;
	}
	.header-content input {
		width: 350px;
		margin: 0;
	}
	.App-main {
		margin: 0;
	}
	.input-icon{
		position: relative;
		top: 33px;
		right: 52%;
	}
	.input-button{
		position: relative;
		bottom: 40px;
		left: 123px;
		height: 36px;
	}
	.watch{
		display: none;
	}
	
	.poster-desc h1{
		font-size: 20px;
	}
	.genre-btns{
		display: none;
	}
	.poster img{
		width: 300px;
		height: 200px;
		border-radius: 10px;
	}
	.poster{
		padding: 5px;	
	}
	.poster-desc{
		margin-left: 20px;
	}

	
	.button{
		margin: 5px;
	}
}
