.pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}
.pages h1{
    color: transparent;
	background-clip: text;
	background: linear-gradient(to right, rgb(255, 100, 203)0%, rgb(53, 0, 78)70%);
	text-shadow: 2px 2px 20px purple;
	font-size: 25px;
    text-align: center;
    margin-top: 130px ;
	font-family: cursive;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.pages a{
    background-color: rgb(24, 24, 24) ;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    margin: 40px auto 50vh ;
    border-radius: 5px;
}