.pages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pages h1 {
	color: transparent;
	background-clip: text;
	background: linear-gradient(to right, #4000cb 0%, rgb(80, 0, 150) 70%);
	text-shadow: 2px 2px 30px rgb(80, 0, 200);
	font-size: 18px;
	text-align: center;
	margin-top: 100px;
	font-family: cursive;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.pages a {
	background-color: rgb(24, 24, 24);
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	margin: 40px auto 50vh;
	border-radius: 5px;
}
.pages-container {
	margin: 50px auto;
}

.pages-container .movie-card {
	background-color: rgb(0, 0, 0, 0.3);
	border-radius: 20px;
	height: auto;
	padding: 20px 30px 0 30px;
}

.pages-container span {
	font-weight: 700;
	color: purple;
}
.pages-container .image-container {
	border-radius: 7px;
}
.pages-container p {
	color: grey;
}
.pages-container img {
	object-fit: cover;
	cursor: pointer;
}

.upcoming {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}
.upcoming .movie-card {
	width: 100%;
	max-width: 400px;
}
.upcoming img {
	width: 100%;
	height: 200px;
}
.upcoming .image-container {
	width: 100%;
	height: 200px;
}

.series {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	width: 85%;
}

.series .movie-card {
	width: 100%;
	min-width: 350px;

	margin: 0;
}
.series img {
	width: 100%;
	height: 250px;
}
.series .image-container {
	width: 100%;
	height: 250px;
}

.shows {
	display: grid;
	grid-template-columns: repeat(4, 1fr) !important;
	gap: 10px;
	width: 85%;
}

.shows .movie-card {
	width: 100%;
	height: auto;
}
.shows img {
	width: 100%;
	height: 250px;
}
.shows .image-container {
	width: 100%;
	height: 250px;
}

.spinner {
	display: block;
	position: relative;
	z-index: 1031;
	margin-bottom: 90vh;
	top: 45%;
	left: 45%;
}

@media only screen and (max-width: 1800px) {
	.upcoming {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (max-width: 1500px) {
	.upcoming {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.series,
	.shows {
		display: grid;
		grid-template-columns: repeat(3, 1fr) !important;
	}
}

@media only screen and (max-width: 1000px) {
	.upcoming {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.series,
	.shows {
		display: grid;
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media only screen and (max-width: 700px) {
	.upcoming {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin: 10px 20px 0 0;
	}
	.upcoming .movie-card {
		width: 100%;
		height: 320px;
		max-width: 400px;
		margin: 0;
	}
	.pages h1 {
		margin: 100px 0 0 0;
	}
	.series,
	.shows {
		display: grid;
		grid-template-columns: repeat(1, 1fr) !important;
		margin: auto;
	}
	.series {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin: 10px 20px 0 0;
	}
	.series .movie-card {
		width: 100%;
		height: 320px;
	}
}
