*{
	margin: 0;
	padding: 0;
}

.main{
	width: 85%;
	margin: 0 auto;
}
.carousel-center {
	margin-top: 100px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel-center img {
	width: 100%;
	max-width: 1400px;
	max-height: 600px;
	object-fit: cover;
	border-radius: 20px;

}

.carousel-center .icons {
	font-size: 1000%;
	color: #f4c10f;
	position: absolute;
	top: 40%;
	cursor: pointer;
	transform: translateX(-40px);
}
.control-btn button {
	background: none;
	font-size: 40px;
	border: none;
	cursor: pointer;
}
.control-btn .icons {
	color: white;
}
.control-btn .next {
	position: absolute;
	top: 45%;
	right:5%;
	z-index: 9;
}

.carousel-caption {
	position: relative;
	bottom: 60px;
}
.control-btn .prev {
	position: absolute;
	top: 45%;
	left: 5%;
	z-index: 9;
}

.genre_list li {
	list-style-type: none;
}
.genre_list{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.genre_list li>button{
  background-color: transparent;
  border: 2px solid #5a606b;
  color: #5a606b;
  margin: 7px 5px  ;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.genre_list button:hover{
  border: 2px solid white;
  color: white;
}
.row{
  border-radius: 30px;
  margin: auto;
  
}
.card{
	overflow: hidden;
	height: 340px;
	width: 100%;
	min-width: 200px;
	position: relative;
}

.card img{
	width: 100%;
	object-fit: cover;
	height: 340px;
	min-width: 120px;
	max-width: 100%;
}
.card .img-container {
	border-radius: 20px;
	width: 100%;
	height: 100%;
}
.container-movie {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;

}
.actors-list{
	margin: 30px ;
	display: flex;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}
.container-actors h2{
	text-transform: uppercase;
	margin: 20px;
}
.actors-card{
	width: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	padding: 40px 40px 0 40px;
	border-radius: 20px;
}
.actors-card img{
	max-width: 200px;
	min-width: 120px;
	width: 90%;
	height: 55%;
	max-height: 300px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid grey	;
	padding: 10px;
}
.actors-card p{
	text-align: center;
	margin-top:20px;
	text-transform: capitalize;
}


.header-text{
	text-transform: uppercase;
	margin: 30px 20px;
	color: #5a606b;
}
.movie-slider{
	width: 150vh;
}
.description{
	position: relative;
	left: 30px;
	transition: 1s;
}


.card:hover > .description{
	display: block;
	transform: translateY(-100px);
	z-index: 55;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	  );
	transition: background 	0.3s;
	z-index: 10;
  
}
.card:hover .overlay{
	background: linear-gradient(
		to top,
		rgba(0, 0, 0),
		rgba(0, 0, 0),
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0)
	  );
}

@media only screen and (max-width: 1100px) {
	.main{
		width: 900px;
		margin-left: 120px;
	}
	.movie-slider{
		width: 700px;
	}
	.container-movie, .actors-list{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 40%;
	}
	.genre_list li>button{
		margin: 3px 1px  ;
		padding: 7px 15px;
	}
	.movie-slider{
		width: 700px;
	}

}
@media only screen and (max-width:900px){
	.main{
		width: 700px;
		margin-left: 80px;
	}
	.container-movie{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-left: 60px;
	}
	.card{
		width: 250px;
		max-width: none;
	}
	.movie-slider{
		width: 700px;
	}
}
@media screen and (max-width : 700px) {
	.main{
		margin: 0;
	}
	.container-movie{
		margin-left: 100px;
	}
	.movie-slider{
		width: 570px;
	}
}
@media only screen and (max-width:600px){
	.actors-list{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 0;
	}
	.container-movie{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0;
	}
	.card{
		width: 120px;
	}

	.genre_list{
		margin: 0;
	}
	.movie-slider{
		width: 400px;
		margin-left: 10px;
	}
	.icons{
		font-size: 20px;
	}
}