
.nav-container{
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    color: white;
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
    

.nav-container a.link{
    text-decoration: none;
    font-weight: 700;
    color: rgb(139, 130, 130);
    padding: 25px 13px;
    margin: 0 30px ;
    transition: 0.2s;
}
.nav-container  a.link.active{
    border-bottom: 5px solid purple;
    color: white;
}
.nav-container a.link:hover{
    border-bottom: 5px solid purple;
    color: white;

}
.nav-container .logo h1 {
    color: white;
    padding: 10px;
}
.nav-container .logo h1 > span {
	color: purple;
	text-shadow: 5px 5px 10px purple;
}
.nav-container .icons{
    font-size: 20px;
    cursor: pointer;
    color: grey;
}
.nav-container .icons:hover{
    color: white;
}
.logo{
    transform: translate(20px, -20px);
    font-size: 11px;
    padding: 10px;
    
}
.logo a{
    text-decoration: none;
}