
.sidebar{
    background-color: #000000;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65px;
    width: 300px;
    border-right: 1px solid rgb(36, 36, 36);
    transition: 0.3s;
    z-index: 999;
}
.sidebar a{
    color: rgb(128, 118, 118);
    text-decoration: none;
    padding: 15px 20px;
    max-height: 47px;
    margin: 10px 15px  ;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 700;
}
.sidebar a:nth-of-type(){
    margin-top: 50px;
}
.sidebar a:hover{
    color: white;
    background-color: rgb(27, 27, 27);
    
}
.sidebar .icons{
    font-size: 15px;
}
.sidebar a.active{
    background-color: rgb(27, 27, 27);
    color: white;   
}
.sidebar a.active .icons{
    color: rgb(69, 5, 219);
}
.close-button {
    position: absolute;
    right: -10px;
    background-color: #080808;
    margin: auto -20px;
    padding: 20px;
    width: 50px;
    height: 50px ;
    font-size: 15px;
    border: 1px solid rgb(63, 59, 59);
    border-radius: 50%;
    cursor: pointer;
}
.close-button span{
    display: block;
    margin-top: 5px;
    position: relative;
    top: -10px;
    left: -5px;
    background-color: #beb4b4;
    border-radius: 15px;
    height: 3px;
    width: 20px;
    transition: 0.3s;
}
.hamburg-in:hover span:nth-child(1){
    width: 20px;
    transform: translate(-3px, 10px) rotate(30deg);

}
.hamburg-in:hover span:nth-child(3){
    width: 20px;
    transform: translate(-3px, -7px) rotate(-30deg);   
}
.hamburg-in:hover span:nth-child(2){
    display: none;   
}

.hamburg-out:hover span:nth-child(1){
    width: 20px;
    transform: translate(-1px, 10px) rotate(-30deg);

}
.hamburg-out:hover span:nth-child(3){
    width: 20px;
    transform: translate(-1px, -7px) rotate(30deg);   
}
.hamburg-out:hover span:nth-child(2){
    display: none;   
}
.sidebar-NX{
    width: 85px;
}
.sidebar-NX .text{
    display: none;
}
.tooltip{
    display: none;
    position: relative;
    left: 250%;
    bottom: 180%;
    width: 120px;
    padding: 7px 20px;
    border-radius: 7px 7px 7px 0;
    white-space: nowrap;
    border: 1px solid rgb(95, 92, 92);
    background-color: #000000;
    transition: 0.3s;
}

.sidebar a:hover > .tooltip{
    display: block;
}
.sidebar .text{
    margin-left: 10px;
}



@media only screen and (max-width: 600px) {
    .sidebar{
        display: flex;
        flex-direction:row;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 60px;
        position: fixed;
        top: auto;
        bottom: 0;
        background-color: rgb(0, 0, 0);

    }

    .sidebar .close-button{
        display: none;
    }
    .sidebar-NX a{
        width: 20px;
        margin: 1% 0.5%;
        padding: 20px 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 700;
        text-align: center;
    }
    .sidebar .tooltip{
        position: absolute;
        top: 120%;
    }
}   
