
.sidebar{
    background-color: #080808;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    width: 300px;
    border-right: 1px solid rgb(36, 36, 36);
}
.sidebar a{
    color: rgb(68, 68, 68);
    text-decoration: none;
    padding: 15px 20px;
    margin: 10px 15px  ;
    border-radius: 14px;
    transition: 0.2s;
    font-weight: 700;
}
.sidebar a:hover{
    color: white;
    background-color: rgb(27, 27, 27);
}
.sidebar .icons{
    font-size: 13px;
}
.sidebar a.active{
    background-color: rgb(27, 27, 27);
    color: white;   
}
.sidebar a.active .icons{
    color: purple;
}